:root {
  font-size: 62.5%;
}
/*a*/
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  padding: 2rem 3rem;
  font-family: "VT323", monospace;
  line-height: 1.5rem;
  font-size: 18px;
  background-color: #000000;
  /*background-image: linear-gradient(140deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);*/
  height: 100%;
  max-width: 100%;
}

#html5-qrcode-anchor-scan-type-change {
  display: none !important;
}

@media only screen and (max-width: 650px) {
  .body {
    max-width: 100vw;
  }
  .header-ascii {
    align-items: baseline;
    font-size: 18px;
    margin: 0 auto;
  }

  .header-ascii h1 {
    margin-right: 1.5rem;
    text-align: center;
  }

  .buttons {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  #buttons2 {
    margin-top: -5rem;
  }

  .buttons nav {
    background-color: aqua;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    outline: hidden;
  }

  .ascii-text {
    display: grid;
    margin-bottom: 1rem;
  }

  .buttonUse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .buttonUse button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
    place-items: center;
  }

  .arrow {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 0 #888888;
    color: black;
    letter-spacing: 2px;
  }

  .encrypt {
    margin: 2rem 0 4rem 0;
    background-color: rgb(81, 0, 92);
    box-shadow: 0 0 20px 10px rgb(116, 29, 128);
    border-radius: 9px;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    width: 7.1rem;
  }

  .decrypt {
    margin: 2rem 0 4rem 0;
    background-color: rgb(81, 0, 92);
    box-shadow: 0 0 20px 10px rgb(116, 29, 128);
    border-radius: 9px;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    width: 7.1rem;
  }

  .decrypt-text {
    height: 20rem;
    background-color: aliceblue;
  }

  pre {
    font-family: "Courier New", "monospace";
    width: 100%;
    
    line-height: 1;
    background-color: aliceblue;
    height: 20rem;
    display: none;
    overflow: scroll;
  }

  .imageHead {
    margin: 2rem 5rem 4rem 5rem;
    background-color: rgb(31, 245, 31);
    border-radius: 9px;
  }

  .copyDownload {
    display: grid;
    place-items: center;
    margin-top: 1rem;
  }

  .copy {
    display: none;
    background-color: rgb(31, 245, 31);
    border-radius: 12px;
    height: 4rem;
    width: 7rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .download {
    display: none;
    background-color: rgb(31, 245, 31);
    border-radius: 12px;
    height: 4rem;
    width: 7rem;
    margin-left: 1rem;
  }

  .encrypt-text {
    height: 20rem;
  }

  .ascii-text textarea {
    height: 20rem;
  }

  .input {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 15px;
    width: 22vw;
  }

  .preview {
    min-width: 100px;
    max-width: 100px;
  }

  #preview {
    min-width: 0px;
    max-width: 0px;
    max-height: 0px;
    margin-bottom: 1rem;
  }

  .clear {
    float: right;
    cursor: pointer;
  }

  .example {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    place-items: center;
  }

  .example img {
    width: 50px;
    height: 50px;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .example div {
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .inputContainer {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 9px;
    cursor: pointer;
  }

  .inputContainer2 {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 9px;
    border: #000000 solid 2px;
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }

  #arrow2 {
    display: none;
  }

  #arrow4 {
    display: none;
  }

  .qrinput {
    display: flex;
    place-items: center;
    place-content: center;
    height: 20rem;
  }

  #uploadButton{
    text-align: center;
    margin: 2rem;
  }

  #camera{
    text-align: center;
    margin: 2rem;
  }



  .dotColorSingle {
    background-color: aliceblue;
    border: #313131 0.1px solid;
    font-size: 1.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
  
  }

  .dotColorGradient {
    background-color: aliceblue;
    border: #313131 0.1px solid;
    display: none;
    font-size: 1.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
  }

  .colorButton {
    float: right;
  }

  .crispContainer {
    display: flex;

    border: #313131 0.1px solid;
    background-color: aliceblue;
    font-size: 1.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: inline-block;
  }
  
  .crispCheckbox{
    float: inline-end;
    margin-top: -1.4rem;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 651px) {
  .header-ascii {
    align-items: baseline;
    font-size: 18px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 100px;
  }

  .header-ascii h1 {
    margin-right: 1.5rem;
    text-align: center;
  }

  .buttons {
    margin-top: 3rem;
  }

  #buttons2 {
    margin-top: -5rem;
  }

  .buttons nav {
    background-color: aqua;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    outline: hidden;
  }

  .ascii-text {
    margin-bottom: 1rem;
  }

  .buttonUse {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    height: 20rem;
  }

  .encrypt {
    margin: 2rem 0 4rem 0;
    background-color: rgb(81, 0, 92);
    box-shadow: 0 0 20px 10px rgb(116, 29, 128);
    border-radius: 9px;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    width: 7.1rem;
  }

  .decrypt {
    margin: 2rem 0 4rem 0;
    background-color: rgb(81, 0, 92);
    box-shadow: 0 0 20px 10px rgb(116, 29, 128);
    border-radius: 9px;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    width: 7.1rem;
  }

  .decrypt-text {
    height: 20rem;
    width: 100%;
    background-color: aliceblue;
  }


  pre {
    font-family: "Courier New", "monospace";
    width: 100%;
    
    line-height: 1;
    background-color: aliceblue;
    height: 20rem;
    display: none;
    overflow: scroll;
  }

  .imageHead {
    margin: 2rem 5rem 4rem 5rem;
    background-color: rgb(31, 245, 31);
    border-radius: 9px;
  }

  .copyDownload {
    display: grid;
    grid-column: 3;
  }

  .copy {
    display: none;
    background-color: rgb(31, 245, 31);
    border-radius: 12px;
    height: 4rem;
    width: 7rem;
  }

  .download {
    display: none;
    background-color: rgb(31, 245, 31);
    border-radius: 12px;
    height: 4rem;
    width: 7rem;
  }

  .encrypt-text {
    height: 20rem;
    width: 100%;
  }

  .ascii-text textarea {
    height: 20rem;
  }

  .input {
    margin-top: 2rem;
    font-size: 15px;
    width: 22vw;
  }

  #preview {
    min-width: 300%;
    max-width: 600%;
  }

  #canvasqr {
    background-color: aliceblue;
    height: auto;
    object-fit: fill;
  }

  .overqr {
    object-fit: fill;
  }

  svg {
    min-width: 180px;
    max-width: 180px;
    min-height: 180px;
    max-height: 180px;
  }

  .qr-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
    max-width: 100vw;
  }

  .clear {
    float: right;
    cursor: pointer;
  }

  .buttonUse {
    grid-column: 2;
    grid-row: 1;
  }

  #text {
    grid-row: 1;
    grid-column: 1;
  }

  #dots {
    grid-row: 2;
    grid-column: 1;
    font-size: 1.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
  }

  #image {
    grid-column: 1;
    grid-row: 3;
    margin-top: 8rem;
  }

  #dotType {
    width: 100%;
  }

  #colorType{
    width: 100%;
    
  }

  #images {
    margin-top: 2rem;
  }

  #asciifield {
    grid-column: 3;
    grid-row: 1;
    overflow: hidden;
  }

  #preview {
    min-width: 0px;
    max-width: 0px;
    max-height: 0px;
  }

  .example {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1;
    grid-row: 3;
    margin-top: 1rem;
    place-items: center;
  }

  .example img {
    width: 50px;
    height: 50px;
    border-radius: 9px;
    cursor: pointer;
  }

  .example div {
    cursor: pointer;
  }

  .inputContainer {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
  }

  input[type="file"] {
    display: none;
  }

  #arrow1 {
    display: none;
  }

  #arrow3 {
    display: none;
  }
  .buttonUse button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
    place-items: center;
  }

  .arrow {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 0 #888888;
    color: black;
    letter-spacing: 2px;
  }

  .dotColorSingle {
    background-color: aliceblue;
    border: #313131 0.1px solid;
    height: 2.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    padding-bottom: 25px;
  }

  .dotColorGradient {
    background-color: aliceblue;
    border: #313131 0.1px solid;
    display: none;
    height: 2.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    padding-bottom: 25px;
  }

  .colorButton {
    float: right;
  }

  .crispContainer {
    width: 100%;
    border: #313131 0.1px solid;
    background-color: aliceblue;
    font-size: 1.5rem;
    height: 2rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: inline-block;
  }
  
  .crispCheckbox{
    float: inline-end;
    margin-top: -1.2rem;
    
  }

  input[type="color"] {
    height: 2.5rem;
  }

  .qrinput {
    display: flex;
    place-items: center;
    place-content: center;
    height: 20rem;
  }

  #uploadButton{
    text-align: center;
    margin: 2rem;
  }

  #camera{
    text-align: center;
    margin: 2rem;
  }


  .inputContainer {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 9px;
    cursor: pointer;
  }
  .inputContainer2 {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 9px;
    border: #000000 solid 2px;
    cursor: pointer;
  }
  /*#uploadQR{
    display: grid;
    place-items: center;
  }*/
}

@media only screen and (min-width: 1025px) {
  .example img {
    width: 50px;
    height: 50px;
    border-radius: 9px;
    cursor: pointer;
  }

  .inputContainer {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
  }
}

@media only screen and (min-width: 1441px) {
  .example img {
    width: 75px;
    height: 75px;
    border-radius: 9px;
    cursor: pointer;
  }

  .inputContainer {
    color: black;
    width: 75px;
    height: 75px;
    border-radius: 9px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-color: white;
  }
}
